body {
  background-color: rgba(158, 253, 229, 0.205);
}

h2 {
  display: inline-block;
  padding: 20px 40px;
  margin: 0;
}

main {
  padding-top: 50px;
}

.textdivouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textdivinner {
  margin: 25px 0 10px 0;
}

.problemconjugation, .problemverb {
  background-color: lightblue;
}

.answer {
  background-color: lightgreen;
  border-radius: 10px;
  display: block;
}

.buttondivouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

.english {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.spanish {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.answerdiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formtype {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}

.formcustom1, .formcustom2, .formcustom3, .formcustom4, .formcustom5, .formcustom6  {
  display: inline-block;
  width: 80px;
}

.closed {
  border-radius: 10px;
  height: 242.5px;
  overflow: hidden;
  transition: height .4s;
  background-color: lightblue;
}

.open {
  border-radius: 10px;
  height: 365px;
  overflow: hidden;
  transition: height .4s ease-in-out;
  background-color: lightblue;
}

.tense {
  margin-left: 20px;
}

#button {
  margin-bottom: 25px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: lightseagreen;
}

#customize {
  margin-bottom: 10px;
}

.display {
  display: inline-block;
  text-align: center;
  width: 150px;
}

.answerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.englishtitle, .spanishtitle {
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
  left: 0;
  margin: 0px;
  color: rgb(116, 116, 116);
  font-size: 16px;
}

.answertitle {
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
  margin: 0px;
  color: rgb(116, 116, 116);
  font-size: 16px;
}